* {
    box-sizing: border-box;
}

/* Contenedor principal */
.card {
    width: 350px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

/* SELECTOR DESCENDENTE */
.card .info p {
    color: #555;
}

/* SELECTOR DE HIJO DIRECTO */
.info > .name {
    font-size: 22px;
    color: #222;
}

/* SELECTOR DE HERMANO ADYACENTE */
.name + .role {
    color: #0066ff;
    font-weight: bold;
}

/* SELECTOR DE HERMANOS GENERALES */
.role ~ .description {
    font-style: italic;
}

/* Avatar */
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 3px solid #0066ff;
}

.stats {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.stats li {
    background-color: #f2f2f2;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 5px;
}
